/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

/* grid styles */

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 514px;
    border: 1px solid black 
}

.grid > .cell {
    box-sizing: border-box;
    border: 1px solid #ccc;
    aspect-ratio: 1 / 1;
}

.btn-container {
   gap: .5rem;
}

.btn {
    padding: .5rem;
}

